<H2>Componente 3 (foods) - Platos del dia / Congreso de los diputados</H2>

<div *ngFor="let food of foods">
  <ul>
  <div *ngIf="!(food.category==='vegetariano')">
    <li>{{food.title}} ({{food.category}}) </li>
    <img [src]=food.photoUrl width=200>
  </div>
</ul>
</div> 

